<div class="page-header">
	<h1>Good afternoon, Charlie. <small>Get some work done.</small></h1>
</div>

<table class="table table-calendar">
	<thead>
		<tr>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>29</td>
			<td>30</td>
			<td class="active">31</td>
			<td>Feb 1</td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
		</tr>
		<tr>
			<td>5</td>
			<td>6</td>
			<td>7</td>
			<td>8</td>
			<td>9</td>
			<td>10</td>
			<td>11</td>
		</tr>
	</tbody>
</table>