<div class="page-header">
	<h1>Sections</h1>
</div>

<% @sections.each do |section| %>
<div class="section" style="background-color: #<%= section.color %>">
	<div class="section-name"><%= link_to section.name, edit_admin_section_path(section) %></div>
</div>
<% end %>

