<h1>Rock Online</h1>

<p class="login"><%= link_to "Staff login &raquo;".html_safe, admin_path %></p>

<style>
body {
	padding-top: 120px;
}
h1 {
	font-size: 62pt;
	line-height: 64pt;
	margin-bottom: 20px;
	font-weight: normal;
}
p.soon {
	font-size: 40pt;
	line-height: 42pt;
	color: gray;
	margin-bottom: 25px;
}
p.login {
	font-size: 20pt;
	line-height: 22pt;
}
p.login a {
	color: lightGray;
}
</style>