<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Due</th>
      <th>Assigned to</th>
      <th>Assigned by</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| -%>
    <tr>
      <td><%= link_to assignment.summary, [:admin, assignment] %></td>
      <td><%= assignment.due %></td>
      <td>Charlie</td>
      <td>Kayla</td>
    </tr>
    <% end -%>
  </tbody>
</table>