<div class="page-header">
    <h1>Assigned to you</h1>
</div>

<% if @assignments.size > 0 %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Summary</th>
      <th>Due</th>
      <th>Assigned by</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| -%>
    <tr>
      <td><%= status_label(assignment) %></td>
      <td><%= link_to assignment.summary, [:admin, assignment] %></td>
      <td><%= assignment.due %></td>
      <td>Kayla</td>
    </tr>
    <% end -%>
  </tbody>
</table>
<% else %>
<div class="missing-data">
  <h1>Nothing is assigned to you yet.</h1>
</div>
<% end %>