<div class="subnav subnav-fixed">
	<ul class="nav nav-pills">
		<%= nav_item("Edit", edit_admin_document_path(@document)) %>
		<%= nav_item("Details", admin_document_path(@document)) %>
		<%= nav_item("Publish", admin_document_post_path(@document)) %>
	</ul>
</div>