<div class="control-group">
  <%= f.label :name, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class => "input-xlarge" %>
    <p class="help-block">Please provide a descriptive name so others know what your document is.</p>
  </div>
</div>

<div class="form-actions">
  <button class="btn btn-primary" type="submit">Save Document</button>
	<%= link_to "Cancel", admin_documents_path, :class => "btn" %>
</div>
