// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.document-name {
}

h2.document-name-edit:hover {
	background-color: lightYellow;
	cursor: pointer;
}

h3.document-info {
	font-weight: normal;
}

h3.last {
	margin-bottom: 20px;
}

.document-toolbar {
	margin-bottom: 20px;
}

.tab-pane {
	display: none;
}

.tab-pane.active {
	display: block;
}

body.documents-controller.edit-action {
	background-color: rgb(235, 235, 235);
	padding-top: 180px;
}

.editor-header {
	position: fixed;
	width: 100%;
	top: 40px;
}
.editor-header .container {
	width: 750px;
}
.editor-document-info {
	background-color: #fff;
	border-bottom: 1px solid rgb(229, 229, 229);
	padding: 10px 0 15px 0;
}
.editor-document-info h2 {
	font-size: 20px;
	font-weight: normal;
}
.editor-document-info .more-info {
	font-size: 14px;
	color: #999;
}
.editor-toolbar {
	background-color: rgb(245, 245, 245);
	padding: 8px 0 4px 0;
	font-size: 12px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin-top: 0;
}
.editor-document-body {
	width: 620px;
	padding: 80px;
	border: 1px solid rgb(202, 202, 202);
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	min-height: 800px;
	margin-bottom: 50px;
}
.editor-document-body:focus {
	outline: none;
}