<!doctype html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="mobwrite.js"></script>

	<link rel="stylesheet" type="text/css" href="http://rockonline.herokuapp.com/assets/admin-6b40d60f59863ac827403f69e4fe461a.css" />
	<style>
	* {
		margin: 0;
		padding: 0;
	}
	body {
		font-family: "Helvetica Neue";
		background-color: rgb(235, 235, 235);
		padding-top: 130px;
	}
	.editor-header {
		position: fixed;
		width: 100%;
		top: 0;
	}
	.editor-document-info {
		background-color: #fff;
		border-bottom: 1px solid rgb(229, 229, 229);
	}
	.editor-document-info h2 {
		font-size: 20px;
		font-weight: normal;
		padding: 20px 30px;
	}
	.editor-toolbar {
		background-color: rgb(245, 245, 245);
		padding: 8px 30px;
		font-size: 12px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	}
	a {
		color: #000;
		text-decoration: none;
	}
	.editor-document-body {
		width: 700px;
		padding: 80px;
		border: 1px solid rgb(202, 202, 202);
		margin: 0 auto;
		background-color: #fff;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
		min-height: 800px;
		margin-bottom: 50px;
	}
	.editor-document-body:focus {
		outline: none;
	}
	ul {
		list-style-position: inside;
		margin-left: 15px;
	}
	</style>
</head>
<body>

<%= yield %>

<%= yield :js %>

</body>
</html>