<% content_for :sidebar do %>
<h3>People</h3>
<ul class="nav nav-list">
	<%= nav_item("Directory", admin_users_path, :icon => "icon-user") %>
</ul>
<% end %>

<% content_for :content do %>
<div class="row">
	<div class="span9 offset3">
		<% if flash[:notice] %><div class="alert alert-success"><%= flash[:notice].html_safe %></div><% end %>
		<%= yield %>
	</div>
</div>
<% end %>

<%= render :template => "layouts/admin" %>